.upside {
  margin-top: 50px;
  background-color: #99FFFF;
  color: black;
}

.card-receta {
  flex: 1 150px;
  padding: 2px 5px 2px 5px;
  margin-top: 10px;
}

.btn-receta {
  width: 100%;
}

.footer-icon-right {
  padding-right: 10px;
}

footer {
  align-content: center;
  background-color: #CCFFFF;
  color: black;
  margin-bottom: 0px;
  margin-top: 10px;
  padding: 10px 10px 0 10px;
  text-align: center;
}
